.button--primary {
  display: inline-block;
  border-radius: 4px;
  border: 1px solid #ff4e4e;
  color: #ff4e4e;
  text-decoration: none;
  padding: 10px 30px;
}

.button--primary:hover {
  color: #03001b;
  background-color: #ff4e4e;
}

.button--grey {
  display: inline-block;
  border-radius: 4px;
  border: 1px solid #ffffffbf;
  color: #ffffffbf;
  text-decoration: none;
  padding: 10px 30px;
  margin-left: 15px;
}

.button--grey:hover {
  color: #03001b;
  background-color: #ffffffbf;
}
